<!-- this is the main bot div -->
    <div id="mainBot" #mainBot *ngIf="showBot">

     <!-- this is the section where we define bot title and headers values -->
      <div id="botHeader">
        <h4 class="botTitle">Palm Mind</h4>
        <img src="assets/images/delete.png" (click)="closeBut(mainBot)" id="crossBut"/>
      </div>

       <!-- this is the frame section of bot -->
      <div id="botDisplayFrame" >
        <!-- this is the section where we show messages -->
        <app-content-render (payload)="changeCurrentModule($event)" [currentModule]="currentModule"></app-content-render>
        <div id="botMessageBar" *ngIf="currentModule==='normalModule'">
          <ul id="chat-messages" >
            <li *ngFor="let msg of messageList">{{msg}}</li>
          </ul>
        </div>
      </div>

       <!-- this is the section where we send messages -->
      <div id="botMessageInput" >
        <img src="assets/images/hamburger.png"  (click)="changeCurrentModule('mainManu')">
        <form (ngSubmit)="addMessage(message)">
        <input type="text" #message autofocus>
        </form>
      </div>
    </div>