/* You can add global styles to this file, and also import other style files */

:root{
    --bot-bg:#dee2e6;
    --dominantColor:#1D76BC;
    --complementryColor:#E0EEEC;
    --accentColor:#408A84;
    --textColor:#3E4756;
}

*{
    box-sizing: border-box;
    /* color:var(--textColor); */
}

p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
